.wrap {
    position: absolute;
    /* background-image: linear-gradient(to top, #000 0%, #323232 100%); */
    width: 50%;
    height: auto;
  }


#phtxt{
    display: none !important;
}
@media (max-width:768px)
{
    .wrap{
        visibility: hidden;
        display: none !important;
    }
    #phtxt{
        display: block !important;
    }
    
    .section_title span {
        margin-bottom: 10px !important;
    }
}
  
  .content {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  .content .drift {
    white-space: nowrap;
    color: #FFF;
    margin-top:10vh;    
    margin-bottom: 10vh;
    margin-left: 43vw;;
  }
  .content .drift span {
    transition: all 0.4s cubic-bezier(0.065, 1, 0.39, 1);
    position: relative;
    display: inline-block;
    font-size: 50px;
    margin-right: 10px;
    transform-origin: center 60%;
  }
  .content .drift span:after {
    position: absolute;
    content: "";
    display: block;
    background: transparent;
    width: 200%;
    height: 100%;
    top: 0;
    left: -200%;
    z-index: 1;
  }
  .content .drift span:hover {
    transform: rotate(-20deg) !important;
  }
  .content h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0em;
    font-weight: 300;
    color: #666;
    position: relative;
  }